/* Nav */
.nav {
  margin-bottom: 11em;
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
  justify-content: center;
}

/* Plant table */
.plantTable {
  margin-bottom: 11em;
  display: flex;
  justify-content: center;
}

table th,
tr,
td {
  border: 1px solid rgb(209, 209, 209);
  padding: 1em;
}

table {
  width: 900px;
}

.waterplants-button {
  width: 70px;
  height: 70px;
}

button {
  width: 170px;
}

img {
  width: 70px;
  height: 70px;
}
