/* Nav */
.nav {
  margin-top: 1em;
  margin-bottom: 11em;
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
  justify-content: center;
}

/* Plant table */
.plantTable {
  display: flex;
  justify-content: center;
}

table td,
th,
tr {
  border: 1px solid rgb(209, 209, 209);
  padding: 1em;
}

table {
  width: 50%;
}

.waterplants-button {
  padding-left: 9%;
}

button {
  width: 60%;
}

img {
  width: 70px;
  height: 70px;
}
